<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userImage</key>
	<string></string>
	<key>userNick</key>
	<string></string>
	<key>userMotto</key>
	<string></string>
	<key>defaultText</key>
	<string></string>
</dict>
</plist>
